html { height:100%; min-width:896px; -webkit-user-select: none; overflow-x:auto; overflow-y:auto}
body { height: 100%; min-height: 100%; min-width: 736px;  overflow:hidden; background: #fff;font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#greeting {
  position:relative; 	
  top:5%;
  height:100px;
  margin-left:auto;
  margin-right:auto;
}

#left-column {
  float:left;
  height:100%;
  width:30%;
  min-width:260px;
  text-align:center;
  display:inline-block;
}

#right-column {
  float:right;
  width:30%;
  height:100%;
  min-width:260px;
  text-align:center;
  display:inline-block;
}

#middle-column{
  height:100%;
  width:40%;
  min-width:350px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}

#main_greeting{
  font-size: 40px; letter-spacing: 0; white-space: nowrap;
  color:#232427;
  text-shadow: 1.5px 1.5px #808599;
}

#next-meeting{
  position:relative;
}

#date-time {
  font-size: 16px;
  color:#808599;
  position:absolute;
  top:5px;
}

#message-board {
  position:relative;
  top:100px;
  overflow-x:hidden;
  overflow-y:auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  border: solid 5px #808599;
  height: 40%;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

#weather {
  position:absolute;
  top:5px;
  right: 5px;
}

#weather-icon-div {
  position:absolute;
  top: 25px;
  right: 80px;
}

#upcoming-events{
  padding-bottom:50px;
}

.post {
 position:relative;
 border: solid 1px #808599;
 width:100%;
 min-height:50px;
 overflow:auto;
}

#post-message{
  position:relative;
  top:90px;
}

#message-text{
  width:85%;
  height:50px;
  top:25px;
  position: relative; 
  border-radius: 5px;
  border: solid 5px #808599;
}

#submit-message{
  position:relative;
  height:55px;
  border-radius:5px;
}

#stella-daily-value{
  font: 'Merienda One', Helvetica, sans-serif;
  position: relative; 
  top:25%;
  left: 50%; width: 400px; margin-left:-200px
  
}

#bdays-annivs{
 position:relative;
 border: solid 5px #808599;
 border-radius:15px;
 width: 85%;
 top: 67px;
 text-align:center;
}

#jobs{
 position:relative;
 width:90%;
 text-align:center;
 top: 300px;
}

#lunch{
 border: solid 5px #808599;
 border-radius:15px;
 display:inline-block;
 height: 300px;
 width: 85%;
 position:relative;
 top:115px;

}

#shoutout-text {
  width: 68%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#gong-text {
  width: 68%;
  margin-bottom: 5px;
}


#submissions{
 border: solid 5px #808599;
 border-radius: 15px; 
 width: 85%;
 position: relative;
 left: 6.5%;
 top: 15%
}

#wrapper{
  margin-left:auto;
  margin-right:auto;
  height:100%;
  min-width:760px;
}

#lunch-header{
  border: solid 1px #808599;
  position:relative;
  width:100%;
  height:10%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
